**/*.aux
**/*.bbl
**/*.blg
**/*.fdb*
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.nlo
**/*.out
**/*.brf
**/*.pdf
**/*.nls
**/*.toc
**/*.dvi
**/*.out.ps
!**/assets/*.pdf
**/*.synctex.gz
**/*.synctex(busy)**
**/.direnv
